<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CaptureAndSolve.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C8BAFFF1DE53703008AF71A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C8BB0131DE53703008AF71A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C8BB01E1DE53703008AF71A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
